@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap");

:root {
  --color-primary: #67e2c3;
  --color-btn-hover: #4bb69b;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background: #f1f1f1;
  font-family: "Montserrat", sans-serif;
}

/* NAV PC */
header {
  background: var(--color-primary);
  display: none;
  height: 7.5%;
}

nav {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  width: 100%;
  justify-content: space-between;
  margin-right: 2rem;
  color: white;
}

nav ul {
  display: flex;
  align-items: center;
  height: 100%;
}

nav ul li {
  list-style-type: none;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
}

nav ul li:first-of-type {
  margin-left: 1rem;
}

nav ul li:hover {
  background: var(--color-btn-hover);
}
nav ul li a {
  text-decoration: none;
  color: white;
  height: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
}

nav p:hover {
  color: var(--color-btn-hover);
  cursor: pointer;
}

p i {
  margin-right: 3px;
}

/* NAV MOBILE */
.nav-mobile {
  display: block;
}

.nav-mob {
  position: fixed;
  top: 0px;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background: rgba(0, 0, 0, 0.9);
  clip-path: circle(25px at calc(100% - 45px) 45px);
  transition: all 0.3s ease-in-out;
}

#active:checked ~ .nav-mob {
  clip-path: circle(75%);
}
.menu-btn {
  position: fixed;
  z-index: 2;
  right: 20px;
  z-index: 16;
  /* left: 20px; */
  top: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
#active:checked ~ .menu-btn {
  color: #fff;
  z-index: 15;
}
#active:checked ~ .menu-btn i:before {
  content: "\f00d";
}
.nav-mob ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}
.nav-mob ul li {
  margin: 15px 0;
}
.nav-mob ul li a {
  color: none;
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  padding: 5px 30px;
  color: #fff;
  border-radius: 50px;
  position: relative;
  line-height: 50px;
  transition: all 0.3s ease;
}

input[type="checkbox"] {
  display: none;
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  text-align: center;
  width: 100%;
  color: #202020;
}
.content .title {
  font-size: 40px;
  font-weight: 700;
}
.content p {
  font-size: 35px;
  font-weight: 600;
}

@keyframes rotate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

/* FOOTER */
footer {
  background: var(--color-primary);
  height: 17%;
  padding: 1rem;
  color: white;
}

.footer__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}

.footer__content-copy {
  font-weight: bold;
}

.footer__content-mention span {
  background: white;
  height: 15px;
  width: 1px;
}

.footer__content-mention ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.footer__content-mention ul li {
  list-style-type: none;
  white-space: nowrap;
  font-size: 0.85rem;
}

.footer__content-mention ul li a {
  text-decoration: none;
  color: white;
}

.footer__content-mention ul li a:hover {
  color: var(--color-btn-hover);
  cursor: pointer;
}

.footer__content-soc {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__content-soc ul {
  display: flex;
  gap: 1rem;
}
.footer__content-soc ul li {
  list-style-type: none;
  font-size: 1.3rem;
}

.footer__content-soc ul li i:hover {
  color: var(--color-btn-hover);
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
}

main > div:first-of-type {
  background: var(--color-primary);
  height: 5rem;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  color: white;
}

.br {
  display: block;
}

.gamme {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  cursor: pointer;
}

.gamme__item:hover {
  filter: grayscale(100%);
}

.box__items {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.gamme__item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  width: 100%;
}

.gamme__item--img {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0.7rem;
  z-index: 15;
}

.gamme__item--img img {
  width: 80%;
}

/* BER */
.box__items:first-of-type .gamme__item:nth-of-type(2) .gamme__item--img a img {
  width: 83%;
}

/* SUV */
.box__items:first-of-type .gamme__item:nth-of-type(2) .gamme__item--img a img {
  width: 83%;
}

/* CITA */
.box__items:nth-of-type(2) .gamme__item:nth-of-type(1) .gamme__item--img a img {
  width: 95%;
}

/* RENAULT */
.box__items:nth-of-type(2) .gamme__item:nth-of-type(2) .gamme__item--img a img {
  width: 74%;
}

.gamme__item--logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 15;
  /* background-color: rgba(0, 0, 0, 0.75); */
}

.gamme__item--type {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 15;
  position: absolute;
  bottom: 8px;
  /* background-color: rgba(0, 0, 0, 0.75); */
}

.gamme__item--type a {
  text-decoration: none;
  color: white;
}

.logo {
  display: flex;
  width: 25%;
  aspect-ratio: 3/2;
  object-fit: contain;
  margin: 10px;
}

/* .ming {
  width: 80%;
} */

.box__items:first-of-type .gamme__item:first-child {
  background: linear-gradient(
      rgba(103, 226, 195, 0),
      rgba(103, 226, 195, 0.45) 100%
    ),
    url("../img/walp/road_city_luxury.jpg");
  background-size: cover;
  background-position: center;
}

.box__items:first-of-type .gamme__item:nth-child(2) {
  background-image: linear-gradient(
      rgba(103, 226, 195, 0),
      rgba(103, 226, 195, 0.45) 100%
    ),
    url("../img/walp/road_nature2.jpg");
  background-size: cover;
  background-position: center;
}

.box__items:nth-of-type(2) .gamme__item:first-child {
  background-image: linear-gradient(
      rgba(103, 226, 195, 0),
      rgba(103, 226, 195, 0.42) 100%
    ),
    url("../img/walp/road_city_asia_buildings_3840x2160.jpg");
  background-size: cover;
  background-position: center;
}

.box__items:nth-of-type(2) .gamme__item:nth-child(2) {
  background: linear-gradient(
      rgba(103, 226, 195, 0),
      rgba(103, 226, 195, 0.42) 100%
    ),
    url("../img/walp/road_street.jpg");
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .box__items {
    flex-direction: row;
  }

  header {
    display: flex;
  }

  .nav-mobile {
    display: none;
  }

  .gamme {
    height: 100%;
  }

  main > div:first-of-type {
    background: rgb(32, 32, 32);
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    color: white;
  }

  .br {
    display: inline-block;
  }
}

@media screen and (min-width: 1000px) {
  .box__items {
    width: 50%;
  }
}

@media screen and (min-width: 768px) {
  .product-box {
    flex-direction: row;
  }

  main {
    height: 84.5%;
  }

  footer {
    height: 8%;
    width: 100%;
  }
  .footer__content {
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
  }
  .footer__content-mention ul li {
    list-style-type: none;
    white-space: nowrap;
    font-size: 1rem;
  }
}
