:root {
    --color-primary: #f04f4e;
    --color-btn-hover: #af3939;
    --color-text: white;
}

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none; justify-content: center;}
.slider {
  width: 75%;
}
.mySlides img {
  width: 75%;
}
img {vertical-align: middle;}

 
#avis{
    display: none;
}

main {
  margin-bottom: 2rem;
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 3px;
  user-select: none;
  background-color: var(--color-primary);
  border: black solid 2px;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: var(--color-btn-hover)
}

/* Caption text */
.text {
  color: black;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.mySlides img {
  aspect-ratio: 3/2;
object-fit: contain;
}
/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.slider_voiture{
  display: flex;
align-items: center;
justify-content: center;
}

.desc_importante{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin:5%;
    font-size: 22px;
    font-weight: bold;
}

.bouton_FT_avis{
    display: flex;
    flex-direction: row;
    width: 100%;
    border-collapse: collapse;
}
.bouton_FT_avis a{
  width: 50%;
}

.bouton_FT_avis button{
    background-color: var(--color-primary);
    width: 100%;
    border: solid black 2px;
    cursor: pointer;
    font-size: 15px;
    height: 40px;
    font-weight: bold;
}

.bouton_FT_avis button:hover{
    background-color: var(--color-btn-hover);
}

.FT_tab{
    border: solid black 2px;
    background-color: var(--color-primary);
    border-bottom-style: hidden;
    margin: 0 2%;
}

.FT_line{
    display: flex;
    border-bottom: solid black 2px;
    align-items: center;
}
.FT_line p{
  padding-left: 5px;
}

.FT_modele_descr{
    width: 50%;
    border-right: solid black 2px;
}

h3{
  margin: 2% 0;
    text-align: center;
}

.avis_1,.avis_2,.avis_3{
    background-color: var(--color-primary);
    margin: 2%;
    padding: 20px;
    border: solid black 2px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#avis span{
    font-weight: bold;
}

.avis_client{
  display: flex;
  align-items: center;
}

.avis_client img{
  height: 25px;
  width: 25px;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

@media screen and (max-width: 768px) {
  .slider_voiture{
    margin-top: 7.5%;
  }
}
@media screen and (min-width: 768px) {
  .desc_importante{
    margin:2%;
}
}


/*














*/

:root {
  --color-primary: #f04f4e;
  --color-btn-hover: #af3939;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background: #f1f1f1;
  font-family: "Roboto", sans-serif;
}

/* NAV PC */
header {
  height: 7.5%;
}

header {
  background: var(--color-primary);
  display: none;
}

nav {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  width: 100%;
  justify-content: space-between;
  margin-right: 2rem;
  color: white;
}

nav ul {
  display: flex;
  align-items: center;
  height: 100%;
}

nav ul li {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 1rem;
  height: 100%;
  cursor: pointer;
}

nav ul li:hover {
  background: var(--color-btn-hover);
}
nav ul li a {
  text-decoration: none;
  color: white;
}

nav p:hover {
  color: var(--color-btn-hover);
  cursor: pointer;
}

p i {
  margin-right: 3px;
}

/* NAV MOBILE */
.nav-mobile {
  display: block;
}

.nav-mob {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background: #000;
  clip-path: circle(25px at calc(100% - 45px) 45px);
  transition: all 0.3s ease-in-out;
}

#active:checked ~ .nav-mob {
  clip-path: circle(75%);
}
.menu-btn {
  position: fixed;
  z-index: 2;
  right: 20px;
  z-index: 16;
  /* left: 20px; */
  top: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}
#active:checked ~ .menu-btn {
  color: #fff;
  z-index: 15;
}
#active:checked ~ .menu-btn i:before {
  content: "\f00d";
}
.nav-mob ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}
.nav-mob ul li {
  margin: 15px 0;
}
.nav-mob ul li a {
  color: none;
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  padding: 5px 30px;
  color: #fff;
  border-radius: 50px;
  background: #000;
  position: relative;
  line-height: 50px;
  transition: all 0.3s ease;
}
.nav-mob ul li a:after {
  position: absolute;
  content: "";
  background: #fff;
  background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
  width: 104%;
  height: 110%;
  left: -2%;
  top: -5%; /* if the font is 'Oswald'*/
  border-radius: 50px;
  transform: scaleY(0);
  z-index: -1;
  animation: rotate 1.5s linear infinite;
  transition: transform 0.3s ease;
}
.nav-mob ul li a:hover:after {
  transform: scaleY(1);
}
.nav-mob ul li a:hover {
  color: #fff;
}
input[type="checkbox"] {
  display: none;
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  text-align: center;
  width: 100%;
  color: #202020;
}
.content .title {
  font-size: 40px;
  font-weight: 700;
}
.content p {
  font-size: 35px;
  font-weight: 600;
}

@keyframes rotate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}


/* FOOTER */
footer {
  background: var(--color-primary);
  height: 15%;
  padding: 1rem;
}

.footer__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}

.footer__content-copy {
  font-weight: bold;
  color: rgb(29, 29, 29);
}

.footer__content-mention span {
  background: rgb(29, 29, 29);
  height: 15px;
  width: 2px;
}

.footer__content-mention ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.footer__content-mention ul li {
  list-style-type: none;
  white-space: nowrap;
  font-size: 0.85rem;
}

.footer__content-mention ul li a {
  text-decoration: none;
  color: rgb(29, 29, 29);
}

.footer__content-mention ul li a:hover {
  color: white;
  cursor: pointer;
}

.footer__content-soc {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__content-soc ul {
  display: flex;
  gap: 1rem;
}
.footer__content-soc ul li {
  list-style-type: none;
  font-size: 1.3rem;
}

.footer__content-soc ul li i:hover {
  color: white;
  cursor: pointer;
}


/* RESPONSIVE */
@media screen and (min-width: 768px) {
  header {
    display: flex;
  }

  .nav-mobile {
    display: none;
  }

  

  footer {
    height: 8%;
  }
  .footer__content {
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
  }
  .footer__content-mention ul li {
    list-style-type: none;
    white-space: nowrap;
    font-size: 1rem;
  }
}

@media screen and (max-width: 300px) {
  .form__date {
    align-items: center;
    flex-direction: column;
  }

  .form__date div {
    width: 100%;
  }
}









/* .mySlides img {
  aspect-ratio: 3/2;
object-fit: contain;
} */