:root {
  --color-primary: #f04f4e;
  --color-btn-hover: #af3939;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background: #f1f1f1;
  font-family: "Roboto", sans-serif;
}

/* NAV PC */
header {
  height: 7.5%;
}

header {
  background: var(--color-primary);
  display: none;
}

nav {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  width: 100%;
  justify-content: space-between;
  margin-right: 2rem;
  color: white;
}

nav ul {
  display: flex;
  align-items: center;
  height: 100%;
}

nav ul li {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 1rem;
  height: 100%;
  cursor: pointer;
}

nav ul li:hover {
  background: var(--color-btn-hover);
}
nav ul li a {
  text-decoration: none;
  color: white;
}

nav p:hover {
  color: var(--color-btn-hover);
  cursor: pointer;
}

p i {
  margin-right: 3px;
}

/* NAV MOBILE */
.nav-mobile {
  display: block;
}

.nav-mob {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background: rgba(0, 0, 0, 0.9);
  clip-path: circle(25px at calc(100% - 45px) 45px);
  transition: all 0.3s ease-in-out;
}

#active:checked ~ .nav-mob {
  clip-path: circle(75%);
}
.menu-btn {
  position: fixed;
  z-index: 2;
  right: 20px;
  z-index: 16;
  /* left: 20px; */
  top: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
#active:checked ~ .menu-btn {
  color: #fff;
  z-index: 15;
}
#active:checked ~ .menu-btn i:before {
  content: "\f00d";
}
.nav-mob ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}
.nav-mob ul li {
  margin: 15px 0;
}
.nav-mob ul li a {
  color: none;
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  padding: 5px 30px;
  color: #fff;
  border-radius: 50px;
  position: relative;
  line-height: 50px;
  transition: all 0.3s ease;
}

input[type="checkbox"] {
  display: none;
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  text-align: center;
  width: 100%;
  color: #202020;
}
.content .title {
  font-size: 40px;
  font-weight: 700;
}
.content p {
  font-size: 35px;
  font-weight: 600;
}

@keyframes rotate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

/* HERO */
.hero {
  width: 100%;
  background: url("../img/hero.jpg") no-repeat center center/cover;
  height: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form__control {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background: rgba(0, 0, 0, 0.6);
  padding: 2rem 1rem;
  border-radius: 0.45rem;
}

.form__control select,
.form__control button {
  width: 100%;
  padding: 0.7rem;
  border-radius: 0.45rem;
  border: none;
  outline: none;
}

.form__control button {
  background: var(--color-primary);
  color: white;
}

.form__date {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.form__date div {
  width: 48%;
  color: var(--color-primary);
  text-align: center;
}

.form__date input {
  width: 100%;
  border-radius: 0.45rem;
  border: none;
  outline: none;
  padding: 0.7rem;
}

/* SPONSOR */
.content__marque {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  position: relative;
  height: 7rem;
}

.content__marque--pc {
  padding: 2rem;
  display: none;
  justify-content: center;
  gap: 2rem;
}

.content__marque--pc-box {
  display: flex;
  align-items: center;
  height: 5rem;
  gap: 2rem;
  justify-content: center;
}

.content__marque--pc img {
  opacity: 1;
  filter: grayscale(0);
  width: 15%;
  aspect-ratio: 3/2;
  object-fit: contain;
}

.content__marque--pc img:hover {
  filter: grayscale(50%);
  opacity: 0.5;
  cursor: pointer;
}

/* HISTOIRE */
.content__histoire {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 1rem;
  gap: 1rem;
  background: rgb(228, 228, 228);
}

.content__histoire h1 {
  color: var(--color-primary);
}
.content__histoire p {
  width: 75%;
  text-align: justify;
}

/* MEILLEUR OFFRE */
.content__best {
  padding: 1rem 0 2rem 0;
}

.content__best h2 {
  margin-top: 2rem;
  text-align: center;
}

.content__best--container {
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.content__best--box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #e4e4e4;
  padding: 1rem;
  gap: 1rem;
  border-radius: 0.45rem;
  width: 90%;
}

.content__best--box-header {
  display: flex;
}

.box-header-price {
  height: fit-content;
  padding: 0.5rem;
  white-space: nowrap;
  border-radius: 0.45rem;
  background: var(--color-primary);
}

.box-header-img img {
  width: 175px;
  aspect-ratio: 3/2;
  object-fit: contain;
}

.content__best--box-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content__best--box-footer span {
  font-weight: bold;
}
/* FOOTER */
footer {
  background: var(--color-primary);
  height: 17%;
  padding: 1rem;
}

.footer__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}

.footer__content-copy {
  font-weight: bold;
  color: rgb(29, 29, 29);
}

.footer__content-mention span {
  background: rgb(29, 29, 29);
  height: 15px;
  width: 1px;
}

.footer__content-mention ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.footer__content-mention ul li {
  list-style-type: none;
  white-space: nowrap;
  font-size: 0.85rem;
}

.footer__content-mention ul li a {
  text-decoration: none;
  color: rgb(29, 29, 29);
}

.footer__content-mention ul li a:hover {
  color: white;
  cursor: pointer;
}

.footer__content-soc {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__content-soc ul {
  display: flex;
  gap: 1rem;
}
.footer__content-soc ul li {
  list-style-type: none;
  font-size: 1.3rem;
}

.footer__content-soc ul li i:hover {
  color: white;
  cursor: pointer;
}

/* SLIDER SPONSOR */

.slide-btn {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.prev {
  margin-left: 2rem;
  cursor: pointer;
}

.next {
  margin-right: 2rem;
  cursor: pointer;
}
.mySlidesJo {
  display: none;
}

.mySlidesJo img {
  width: 170px;
  aspect-ratio: 3/2;
  object-fit: contain;
}

/* Next & previous buttons */
/* .prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
} */

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* CONTACT PAGE */
.content__contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0 0 0;
}

.content__contact--box {
  display: flex;
  width: 90%;
  flex-direction: column-reverse;
  background: #ececec;
  border-radius: 0.45rem;
  -webkit-box-shadow: 0px 0px 21px 6px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 21px 6px rgba(0, 0, 0, 0.12);
}

.contact--box-right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.contact--box-right form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact--box-right input,
.contact--box-right textarea {
  width: 100%;
  background: transparent;
  border: none;
  padding: 0.7rem;
  border-bottom: 2px solid rgba(29, 29, 29, 0.15);
}

.contact--box-right button {
  width: 100%;
  padding: 0.7rem;
  border-radius: 0.45rem;
  background: var(--color-primary);
  color: #f1f1f1;
  border: 1px solid transparent;
  cursor: pointer;
}

.contact--box-right button:hover {
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  background: transparent;
}

.contact--box-left {
  background: var(--color-primary);
  color: #f9f9f9;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  border-radius: 0 0 0.45rem 0.45rem;
}

.contact--box-left iframe {
  border-bottom-right-radius: 0.45rem;
}

.contact--box-left-infos {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.contact--box-left-infos > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-left-desc {
  opacity: 0.75;
}

.contact-left-list ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.contact-left-list ul li {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.contact-left-list ul li div {
  padding: 1.25rem;
  width: 1.875rem;
  height: 1.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.contact-left-list ul li i {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pc_card {
  display: none;
}

/* RESPONSIVE */
@media screen and (min-width: 768px) {
  header {
    display: flex;
  }

  .content__contact {
    padding: 2.5rem 0 2.5rem 0;
  }
  .contact--box-left-infos {
    width: 40%;
  }

  .contact-right-input {
    display: flex;
    gap: 2rem;
  }

  .mob_card {
    display: none;
  }

  .pc_card {
    display: inline;
  }

  .nav-mobile {
    display: none;
  }

  .content__marque {
    display: none;
  }
  .content__marque--pc {
    display: flex;
  }

  .form__control {
    flex-direction: row;
    align-items: center;
    padding: 3rem 2rem;
  }

  .form__date {
    margin-top: -20px;
  }

  .content__best {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .content__best--container {
    flex-direction: row;
    justify-content: center;
    width: 90%;
  }

  footer {
    height: 8%;
    position: static;
    width: 100%;
    bottom: 0;
  }
  .footer__content {
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
  }
  .footer__content-mention ul li {
    list-style-type: none;
    white-space: nowrap;
    font-size: 1rem;
  }

  .contact-right-input {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
  }
  .contact-right-input button {
    width: 30%;
  }
}

@media screen and (max-width: 300px) {
  .form__date {
    align-items: center;
    flex-direction: column;
  }

  .form__date div {
    width: 100%;
  }
}

main {
  display: flex;
  flex-direction: column;
}
main > h1 {
  display: flex;
  justify-content: center;
}
.gamme {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  flex-wrap: wrap;
  width: 100%;
}
.gamme__item,
.gamme__item > * {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 450px;
}
.gamme__item--img {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.gamme__item--logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}
.gamme__item--type {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}
.logo {
  display: flex;
  height: 100px;
}
.mimg {
  width: 80%;
}
.gamme__item:first-child {
  background: red;
}

/* ------------------Car page-------------------- */
