html,body{
    margin: 0;
}

header{
    height: 7.5%;
    background-color: blue;
}

#test{
    height: 100vh;
    background-color: yellow;
}

footer{
    height: 100vh;
    background-color: red;
}
